<!DOCTYPE html>
<html>

<body>

  <h3>学生表 - 改</h3>

  <div class="alert alert-danger">
    {{message}}
  </div>

  <form action="/update" method="POST">
    <label for="name">学号</label><br>
    <input type="text" name="no" placeholder="学号" value="{{student.no}}"/><br>
    <label for="city">姓名</label><br>
    <input type="text" name="name" placeholder="姓名" value="{{student.name}}"/><br>
    <label for="addr">性别</label><br>
    <textarea name="gender" placeholder="性别">{{student.gender}}</textarea><br>
    <label for="pin">年龄</label><br>
    <input type="text" name="age" placeholder="年龄" value="{{student.age}}"/><br>
    <input type="submit" value="Submit" />
  </form>

</body>

</html>